body{
    background: rgb(243, 243, 243);
}

.navbar{
    background: #04af68de;
/*     margin-bottom: 35px;
 */}
.navbar .navbar-brand{
    color: #fff;
    
}
.navbar .navbar-brand img{
 max-width: 90px;
}

.navbar .nav-item .nav-link{
    color: #fff;
    font-size: 18px;
}

.banar{
    width: 100%;
}

.banar .lib-info{
    background: linear-gradient(to right, rgba(27, 27, 27, 0.486), rgba(48, 47, 47, 0.479)), url("../../images/bannar-index.jpg");
    background-size: cover;
    height: 300px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.banar .lib-info p{
    font-size: 24px;
}

.banar .search{
    width: 300px;
}
.card  {
    width: 180px;
    height: 250px;
}

.card:hover{
    padding: 3px;
    border: 1px solid #000;
}
.card  .card-title{
 text-decoration: none;
 color: rgb(255, 255, 255);
 text-align: center;
}

.card .img-cover{
z-index: 1;

}
.card .card-body{
    z-index: 2;
    position: absolute;
    bottom: 0px;
    background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 50%);
    text-align: right;
    font-size: 20px;
    width: 100%;
    padding: 4%;
}

.books a{
    color: rgb(78, 78, 78);
}
.books .title{
   
    padding: 10px 0;
    border-bottom: 4px solid #04af68de;
}
/************ book details page **************/

.books .book{
    margin-top: 25px;
}

 .related-books{
    margin-top: 50px;
}
 .books a{
     text-decoration: none;
     /* color: #04af68de; */
 }
/* Categories page  */

.ctegories-card{
    height: 100px;
}

.authors .card {
    height: auto;
}

.books .container-category{
    background: #fff;
}

footer{
    background: #04af68de;
    padding: 7px;
    color: #fff;
}
footer .copyright{
    font-size: 15px;
    font-weight: bold;
}

.btn-download{
    
    background: #04af68de;
    color: #fff !important;
    font-size: 20px;
}